.layout-page-container {
  width: 100%;
  max-width: var(--mpa-layout-content-max-width);
  margin-inline: auto;
  padding: var(--mpa-layout-page-padding);
}

.layout-page-container--fluid {
  max-width: none;
}
